<!DOCTYPE html>
<html lang="en">
	<body>
		{% if error_message %}
			<span>{{ error_message }}
		{% endif %}
		<form action="{{ url_for('.admin') }}" id = "open_dashboard_form" method="post">
			<button type="submit" name="action" value="dashboard" >Open dashboard</button>
		</form>
		<form action="{{ url_for('.admin') }}" id = "tag_list" method="post">
			{% if not add_tag %}
				<button type="submit" name="action" value="add_tag" >Add tag</button>
				<button type="submit" name="action" value="del_tag" >Delete tag</button>
				<select name="tags" form = "tag_list">
					{% for tag in tags %}
						<option>{{ tag }}</option>
					{% endfor %}
				</select>
			{% else %}
				<button type="submit" name="action" value="save_tag" >Add</button>
				<button type="submit" name="action" value="cancel_tag" >Cancel</button>
	        	<input type="text" name="tag_name" placeholder="Tag Name">
			{% endif %}
		</form>

		<form action="{{ url_for('.admin') }}" id = "max_file_size" method="post">
			<input type="hidden" name="action" value="change_size_val">
			<label>Max File Size (mb): </label>
			<input type="text" name="change_size_val" placeholder="{{ current_limit }}">
	        <input type="submit" name="change_size" value="Save">
	    </form>

	    <form action="{{ url_for('.admin') }}" id = "max_files_count" method="post">
			<input type="hidden" name="action" value="change_count_val">
	    	<label>Max Files Count: </label>
			<input type="text" name="change_count_val" placeholder="{{ current_count_limit }}">
	        <input type="submit" name="change_count" value="Save">
	    </form>
	</body>
</html>