<!DOCTYPE html>
<html lang="en">
	<script language='javascript' type='text/javascript' src="{{url_for('static', filename='password_validate.js')}}"></script>

	     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


	     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	     <script src="{{ url_for('static',filename='show_hide.js') }}"></script>

	     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/signin.css') }}">
	     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/maincss.css') }}">
	     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/maincss.css') }}">
	     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/side_nav.css') }}">


	<body>



        <div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="{{ url_for('home.home') }}">Home page</a>
            <a href="{{ url_for('user.user') }}">User page</a>
            <a href="{{ url_for('admin.admin') }}">Admin page</a>
            <a href="{{ url_for('logout.logout') }}">Logout</a>
          </div>
          <span class="btn btn-secondary  button1" style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776;</span>

		{% if error_message %}
		<div class="Toast Toast--warning">
			<div class="Toast__message">
				<div class="Toast__message-category">Warning</div>
			<span>{{ error_message }}</span>
		</div>
		<button class="Toast__button" type="button" onclick="this.parentElement.style.display='none'">Ok</button>
	</div>
		{% endif %}


		<form class="user1"action="{{ url_for('.admin') }}" id = "open_dashboard_form" method="post">
			<button class="btn btn-secondary button4"type="submit" name="action" value="dashboard" >Open dashboard</button>
		</form>

		<form  class="admin1  btn-group  button4" action="{{ url_for('.admin') }}" id = "tag_list" method="post">
			{% if not add_tag %}
				<button class="btn btn-secondary button7  "type="submit" name="action" value="add_tag" >Add tag</button>
				<button class="btn btn-secondary button7  "type="submit" name="action" value="del_tag" >Delete tag</button>
				<select class="custom-select"  name="tags" form = "tag_list">
					{% for tag in tags %}
						<option>{{ tag }}</option>
					{% endfor %}
				</select>
			{% else %}
				<button class="btn btn-secondary button7  " type="submit" name="action" value="save_tag" >Add</button>
				<button class="btn btn-secondary button7 " type="submit" name="action" value="cancel_tag" >Cancel</button>
	        	<input class="form-control " type="text" name="tag_name" placeholder="Tag Name">
			{% endif %}
		</form>

		<form  class="admin2  btn-group  button4" action="{{ url_for('.admin') }}" id = "max_file_size" method="post">
			<label class="admin6"> Max File Size :  </label>
			<input type="hidden" name="action" value="change_size_val">

			<input class="form-control admin5"  type="text" name="change_size_val" placeholder="{{ current_limit }}">
			<button class="btn btn-secondary  " type="submit" name="change_size" value="Save" >Save</button>

	    </form>

	    <form class="admin3  btn-group  button4" action="{{ url_for('.admin') }}" id = "max_files_count" method="post">
			<input type="hidden" name="action" value="change_count_val">
	    	<label class="admin6">Max Files Count: </label>
			<input class="form-control admin5   " type="text" name="change_count_val" placeholder="{{ current_count_limit }}">
			<button class="btn btn-secondary  " type="submit" name="change_count" value="Save" >Save</button>
		</form>

		<label class="admin4">Telegram login (to turn on bot notifications)</label>
		<label class="admin4_1">Left field empty to turn off bot notifications</label>
		<form class="admin7  btn-group  button4" action="{{ url_for('.admin') }}" id = "telegram_form" method="post">
			<input type="hidden" name="action" value="add_telegram">

			<label>@</label><input class="form-control "  type="text" name="telegram_login" placeholder="{{ telegram_user_login }}">
			<button class="btn btn-secondary admin5" type="submit" name="change_telegram" value="Save" >Save</button>
	    </form>
	</body>
</html>
