<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!--
     background: #ddd2d9;
     background-color: #d3c6ce;
     -->
     <style>
     .centrep{
     padding: 50px;
     position: fixed; top: 50%; left: 50%;
     background: #eee2ea;
     border-radius: 15px;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);

      }
      body {
      background-color: #d3c6ce;
      }
      .right{
           position: fixed; top: 0%; left: 73%;
      }


      </style>
</head>

<body class="text-center"  >
  <form  class="form-signin" action="{{ url_for('.index') }}" method="post">
       <div class="centrep" >
            <div class="right" >


            </div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label  class="sr-only"> login</label>
			         <input type="text"  class="form-control"
                     placeholder="Login" name="login" required autofocus>

  		    <label  class="sr-only">password</label>
			         <input type="password"   class="form-control"
                     placeholder="Password" name="password" required>

		 	<div class="checkbox mb-3">
			         <label>
			    	       <input type="checkbox" value="remember-me"> Remember me
			         </label>

		    </div>

		       	<button class="btn btn-lg btn-primary btn-block" type="submit" name="btn_submit_authorization">Sign in</button>
                <p class="text-center">Don't have account? <a href="reg">Sign up here</a></p>


                {% if bad_auth %}
                    <span style="color: #ff0000;">Wrong login or password!</span>
                {% endif %}

    </div>


        </form>



    </body>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>







</html>
