<html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/signin.css') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/maincss.css') }}">


   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/bootstrap.min.js') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/bootstrap.js') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/jquery.js') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/jquery.min.js') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/popper.js') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/popper.min.js') }}">


</head>

<body>


            <form class="form-signin centrep" action="{{ url_for('.reg') }}" method="post" name="form_register"  >
                <h2 class="text-center"> Sign up </h2> <br>
                <h6> Login: </h6>
                <input type="text" class="form-control" name="login" placeholder="Enter login" required >
                <br>
                <h6> Email: </h6>
                <input type="email" class="form-control"name="email" placeholder="Enter email" required>
                <br>
                <h6> Password: </h6>
                <input type="password" class="form-control" name="password" id = "pass" placeholder="minimum 6 characters" required minlength="6" maxlength="32">
                <br>
                <h6> Confirm the password: </h6>
                <input type="password" class="form-control" name="password_confirm" id="pass_conf" placeholder="minimum 6 characters" required minlength="6" maxlength="32" oninput="validatePassword()">

                <br>
                <script language='javascript' type='text/javascript' src="{{url_for('static', filename='password_validate.js')}}"></script>

                {% if error_flag %}
                    <font color=#D14229 >{{ error_message }}</font>
                {% endif %}

                <br>
                <br>

                <button class="btn btn-lg btn-primary btn-block  " type="submit" name="btn_submit_register" >Sign up</button>

                <p class="text-center">Do you have an account? <a href="./" >Sign in</a></p>



            </form>


</body>

</html>
