<html>
    <body>
    	<h>Shared files:</h>
    	 {% if message %}
            <span>{{ message }}</span>
         {% endif %}
    	<table border="1" width="100%" cellpadding="5">
    	{% for file in files %}
    		<tr>
                {% if file['type'] == 'folder' %}
                    <th>
                    <form id="{{ 'folder_form' ~ loop.index0 }}" method="post">
                        <input type="hidden" id="{{ 'folder' ~ loop.index0 }}" name="{{ 'folder' ~ loop.index0 }}" value="{{ file['_id'] }}">
                        <p><a href="#" onclick="{{ 'get' ~ loop.index0 }}()">{{ file['name'] }}</a></p>
                        <script>
                          function {{ 'get' ~ loop.index0 }}(){
                            document.getElementById("{{ 'folder_form' ~ loop.index0 }}").submit();
                          }
                        </script>
                    </form></th>
                    <th></th>
                {% else %}
                    <th>{{ file['name'] }}</th>
                    <th>{{ file['size'] }}mb</th>
                {% endif %}
                {% if check %}
                    <th><input type="checkbox" name="{{ 'box' ~ loop.index0 }}" value="{{ file['_id'] }}" form = "checkbox_form"></th>
                {% else %}
                <th>
                	<form action="{{ url_for('share', link = link) }}" method="post" name="add_file_form">
                            <button name="add_file" value="{{ file['_id'] }}" type="submit">Add to my files</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('share', link = link) }}" method="post" name="download_form">
                            <button name="download" value="{{ file['_id'] }}" type="submit">Download</button>
                    </form>
                </th>
                {% endif %}
    		</tr>
    	{% endfor %}
    </table>
    </body>
</html>