<html>
  <head>
    <script src="{{ url_for('static',filename='show_hide.js') }}"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/maincss.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/side_nav.css') }}">
        
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('home.home') }}">Home page</a>
            <a href="{{ url_for('user.user') }}">User page</a>
            <a href="{{ url_for('stats.dashboard') }}">Admin page</a>
            <a href="{{ url_for('logout.logout') }}">Logout</a>
          </div>
          <span class="btn btn-secondary  button1" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='show_hide.js') }}"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart(data) {
        var data = google.visualization.arrayToDataTable([
          ['Tags', 'Count'],
          {% if personal_data %}
            {% for tag in personal_data['tags'] %}
              ['{{ tag }}', {{ personal_data['tags'][tag] }}],
            {% endfor %}
          {% else %}
            {% for line in tags_data %}
              ['{{ line[0] }}', {{ line[1] }}],
            {% endfor %}
          {% endif %}
        ]);
        console.log(data)
        var options = {
          title: 'Tags statistics' {% if user_id %} + ' for {{ user_id }}' {% endif %}
        };
        var chart = new google.visualization.PieChart(document.getElementById('tags_stat'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="tags_stat" style="width: 600px; height: 300px;"></div>
    <a>Total files count: {{ overall['overall_files_count'] }}</a> <br>
    <a>Total folders count: {{ overall['overall_folders_count'] }}</a> <br>
    <a>Total files size: {{ overall['overall_size']|round(3) }}</a> <br>
    <a>Average file size: {% if overall['overall_files_count'] != 0 %}
                    {{ (overall['overall_size'] / overall['overall_files_count'])|round(3) }}
                {% else %}
                    0
                {% endif %}</a> <br><br>
    <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "cancel_search" method="post">
      <a>Show stats in period: </a>
      <input type="hidden" name="action" value="period">
      <input type="date" name="get_date_from">
      <input type="date" name="get_date_to">
      <input type="submit" name="search_period" value="Show">
    </form>
    {% if not user_id %}
    {% if search %}
        <span>Search for {{ search }}</span>
        <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "cancel_search" method="post">
          <input type="submit" name="cancel_search" value="Cancel">
        </form>
      {% endif %}
    <form action="{{ url_for('stats.dashboard', user_id = user_id) }}" method="post" name="search_form">
        <input type="hidden" name="action" value="search_user">
        <input type="text" name="user_login" placeholder="Username">
        <button name="select_element" type="submit" value="Select">Search!</button>
    </form>
    
    <table style="background:#e7e7e7" border="1" width="100%" cellpadding="5">
        <tr>
            <th>Username</th>
            <th>Files count</th>
            <th>Folders count</th>
            <th>Total files size</th>
            <th>Average file size</th>
            <th>Tags stats</th>
        </tr>

        {% for user in users_data %}
        <tr>
            <form action="{{ url_for('stats.dashboard', user_id = user_id) }}" id = "{{ loop.index0 }}_form" method = "post">
                <input type="hidden" name="action" value="view_user">
                <input type="hidden" id="{{ user }}" name="get" value="{{ user }}">
                <th>
                <a href="#" onclick="document.getElementById('{{ loop.index0 }}_form').submit();">{{ user }}</a>
                </th>
            </form>
            <th>{{ users_data[user]['files_count'] }}</th>
            <th>{{ users_data[user]['folders_count'] }}</th>
            <th>{{ users_data[user]['total_size']|round(3) }}</th>
            <th>{% if users_data[user]['files_count'] != 0 %}
                    {{ (users_data[user]['total_size'] / users_data[user]['files_count'])|round(3) }}
                {% else %}
                    0
                {% endif %}</th>
            <th>{{ users_data[user]['tags'] }}</th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <br>
      {% if error_message %}
        <span>{{ error_message }}</span>
      {% endif %}
      <form action="{{ url_for('.dashboard', user_id = None) }}" id = "close_user" method="post">
          <input type="submit" name="close_user" value="Close user's page">
        </form>
      <form action="{{ url_for('home.home', directory = None, status = user_id) }}" id = "view_user_files" method="post">
			  <button type="submit" name="action" value="view_files" >View user's files</button>
		  </form>
      {% if status == 'admin' %}
      <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "remove_admin_status_form" method="post">
        <input type="hidden" name="action" value="remove_admin_status">
        <input type="password" name="admin_password" id = "pass" placeholder="Your admin password" required minlength="6" maxlength="32">
        <input type="submit" name="admin_priv" value="Remover user's admin status">
      </form>
      {% else %}
      <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "admin_status_form" method="post">
        <input type="hidden" name="action" value="admin_status">
        <input type="password" name="admin_password" id = "pass" placeholder="Your admin password" required minlength="6" maxlength="32">
        <input type="submit" name="admin_priv" value="Give user admin status">
      </form>
      {% endif %}
      <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "change_email" method="post">
        <input type="hidden" name="action" value="change_mail">
        <label>Change email: </label>
        <input type="email" name="change_email_val" required placeholder="New email">
        <input type="submit" name="change_em" value="Change!">
      </form>
      <form action="{{ url_for('.dashboard', user_id = user_id) }}" id = "change_password_val" method="post">
        <input type="hidden" name="action" value="change_pass">
        <label>Change password: </label>
        <input type="password" name="admin_password" id = "pass" placeholder="Your admin password" required minlength="6" maxlength="32">
        <input type="password" name="change_password_val" id = "pass" placeholder="New user's password" required minlength="6" maxlength="32">
        <input type="password" name="change_password_conf_val" id = "pass_conf" placeholder="Confirm new user's password" required minlength="6" maxlength="32" oninput="validatePassword()">
            <input type="submit" name="change_pass" value="Change!">
      </form>
      
    {% endif %}
  </body>
</html>