#zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
#okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
      }
#zatemnenie:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }
.close:hover {background: #e6e6ff;}

body {
    margin-right: 0;
    overflow:scroll;
    background-color: #f0f0f0;
    max-height: 5000px
    width: 5000px
       }



.Toast {
   background: white;
   border-left: 1rem solid #8a8a8a;
   border-radius: 0.5rem;
   box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
   display: flex;
   font-family: Helvetica;
   justify-content: space-between;
   padding: 1rem;
   margin: 1rem auto;
   width: 25rem;
   position: fixed; top: 5%; right: 0% ;
}
.Toast2 {
   background: white;

   border-radius: 0rem;

   display: flex;
   font-family: Helvetica;
   justify-content: space-between;
   padding: 1rem;

   width: 433px;
   position: fixed; top: 223px; left: 0px;
}
.Toast3{
   background: white;
   border-radius: 0rem;
   display: flex;
   font-family: Helvetica;
   justify-content: space-between;
   padding: 1rem;

   width: 433px;
   position: fixed; top: 160px; left: 700px;
}

.Toast--found {
   border-color: #8a8a8a;
}
.Toast--success {
   border-color: #008554;
}

.Toast--warning {
   border-color: #FFC627;
}

.Toast--error {
   border-color: #D14229;
}

.Toast__message-category {
   font-weight: bold;
   margin-bottom: 0.5rem;
}

.Toast__button {
   background: transparent;
   border: none;
   font-family: inherit;
   font-size: inherit;
   margin-left: 1rem;
   opacity: 0.5;
   padding: 0;
}
.centrep{
         padding: 40px;
         padding-bottom: 40px;
         position: absolute; top: 50%; left: 50%;
         background: #FFFFFF;
         border-radius: 5px;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
   }
   .stats4{position: absolute; top: 80px; left: 950px;}
   .stats1{position: absolute; top: 110px; left: 700px;}
   .stats2{position: absolute; top: 270px; left: 700px;}
   .stats3{position: absolute; top: 110px; left: 950px;}

   .right{
       position: absolute; top: 10px; right: 100px;
       }
    .left{
       position: absolute; top: 10px; left: 600px;
      }

   .admin1{position: absolute; top: 80px; left: 20px;}
   .admin2{position: absolute; top: 130px; left: 20px;}
   .admin3{position: absolute; top: 180px; left: 20px;}
   .admin4{position: absolute; top: 230px; left: 20px;}
   .admin5{ width: 100px;}
   .admin6{ width: 135px;}
   .admin7{position: absolute; top: 260px; left: 20px;}
   .admin8{ width: 70px;}

   .user1{position: absolute; top: 10px; left: 20px;}
   .user2{position: absolute; top: 200px; left: 20px;}



   .button1 {
       position: fixed;
       z-index: 5;
       top: 0;
       right: 0;
       transition: 0.5s;
        }
   .button2 {padding: 16px}
   .button3 { position: absolute; top: 55px; left: 550px; }
   .button4 { width: 433px;}
   .button5 { top:1px}
   .button6 { width: 330px;}
   .button7 { width: 217px;}
   .button8 {  position:absolute; top: 100px; left:450px;}
   .button14{ width: 104px;}
   .button15{ height:  55px;    border-radius: 0;}
   .button16{ position: absolute; top: 55px; left: 450px; width:90px; height:  35px}
   .button17 { width: 210px;}
   .button13{
 width: 1050px;
 height: 150px;
    padding: 5px; /* Поля вокруг текста */
border: solid 1px black; /* Параметры рамки */}

   .button9 { position: absolute; top: 0px; left: 0% ; z-index:3;}
   .button10 { position: absolute; top: 55px; left: 0px ;}
   .button11 { position: absolute; top: 110px; left: 0px ;}
   .button12 { position: absolute; top: 165px; left: 0px ;}



   .right{
        position: absolute; top: 0%; left: 73%;
   }
   .text {
       text-align:  center;
   }

  /***** <style>
        ul {
            font-size: 0;
        }
        .dir_tree {
          display: inline-block;
          font-size: 20px;
        }
    </style>
    -->
********/
