<!DOCTYPE html>
<html>
    <body>
        <form action="{{ url_for('index') }}" method="post" name="login_form">
            <table>
                <tr>
                    <td><label for="loginField">Login</label></td>
                    <td><input id="loginField" type="text" name="login" required></td>
                </tr>
                <tr>
                    <td><label for="passwordField">Password</label></td>
                    <td><input id="passwordField" type="password" name="password" required></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><input type="submit" value="Log in!"></td>
                </tr>
            </table>
            {% if bad_auth %}
                <span style="color: #ff0000;">Wrong login or password!</span>
            {% endif %}
        </form>
    </body>
</html>
