<!DOCTYPE html>
<html>
    <body>
        <form action="{{ url_for('index') }}" method="post" name="login_form">
            <table>
                <tr>
                  <td> Login: </td>
                  <td><label> <input  type="text" name="login" required> </label></td>
                </tr>
                <tr>
                  <td> Password: </td>
                  <td><label> <input  type="password" name="password"required></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input value="Registration" type="button" onclick="location.href='reg'"/>
                        <input type="submit" name="btn_submit_authorization"  value="Log in!">

                    </td>
                </tr>
            </table>
            {% if bad_auth %}
                <span style="color: #ff0000;">Wrong login or password!</span>
            {% endif %}
        </form>

    </body>
</html>
