<!DOCTYPE html>
<html lang="en">
	<body>
		{% if error_message %}
			<span>{{ error_message }}
		{% endif %}

		<form action="{{ url_for('admin', admin_id = admin) }}" id = "tag_list" method="post">
			{% if not add_tag %}
				<input type="submit" name="add_tag" value="Add tag">
				<input type="submit" name="del_tag" value="Delete tag">
				<select name="tags" form = "tag_list">
					{% for tag in tags %}
						<option>{{ tag }}</option>
					{% endfor %}
				</select>
			{% else %}
	        	<input type="submit" name="save_tag" value="Add">
	        	<input type="submit" name="cancel_tag" value="Cancel">
	        	<input type="text" name="tag_name" placeholder="Tag Name">
			{% endif %}
		</form>

		<form action="{{ url_for('admin', admin_id = admin) }}" id = "max_file_size" method="post">
			<label>Max File Size (mb): </label>
			<input type="text" name="change_size_val" placeholder="{{ current_limit }}">
	        <input type="submit" name="change_size" value="Save">
	    </form>

	    <form action="{{ url_for('admin', admin_id = admin) }}" id = "max_files_count" method="post">
	    	<label>Max Files Count: </label>
			<input type="text" name="change_count_val" placeholder="{{ current_count_limit }}">
	        <input type="submit" name="change_count" value="Save">
	    </form>
	</body>
</html>